.string-comment {
  margin-bottom: 20px;
  &__title {
    display: inline-block;
    margin: 10px 0 16px 16px;
    font-weight: 500;
    border-bottom: dashed 1px $blue;
    transition: border-bottom 0.2s ease;

    &:hover,
    &:focus {
      border-bottom: dashed 1px $body-bg;
    }
  }

  &__container {
    position: relative;
    margin-bottom: 16px;
  }

  div &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: color 0.2s ease;
  }

  div > &__textarea {
    @extend %main-textarea;
  }
}
