.string-translate {
  margin-bottom: 34px;

  &__info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &--text {
      margin-bottom: 10px;
      font-weight: 500;
      color: $gray-900;
    }
  }

  &__checkbox {
    margin-bottom: 10px;
  }

  div > &__textarea {
    @extend %main-textarea;
    margin-bottom: 12px;
  }

  &__text {
    margin-bottom: 8px;
    font-weight: 500;
    color: $gray-900;
  }

  &__preview-content {
    padding: 0.45rem 0.9rem;
    border-radius: 8px;
    background-color: $main-inputs-color;
    width: 100%;
    height: 70px;
    overflow-y: auto;
  }
}

.indestractible-text {
  color: $green;
}
