.search-form {
  padding: 40px 12px 0;
  border-radius: 0.25rem;
  background-color: $bg-leftbar;
  margin-bottom: 30px;
  border-bottom: solid 1px $main-font-color;

  div > &__select {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &--text {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--button {
      width: 100%;
      margin-bottom: 10px;

      @media screen and (min-width: 48em) {
        margin-bottom: 0;
      }
    }

    &--menu {
      min-width: 100%;
    }
  }

  div > &__input--text {
    border-radius: 8px;
    font-weight: 500;
  }

  div > &__input--checkbox {
    padding-top: 9px;
    margin-bottom: 10px;

    @media screen and (min-width: 48em) {
      margin-bottom: 0;
    }
  }

  &__text {
    color: $gray-900;
    font-weight: 500;
    padding-top: 9px;
  }
}
