.search-form {
  margin: 30px 16px;
  border-bottom: solid 1px $main-font-color;

  div &__button {
    @extend %main-button;
  }

  div > &__select {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &--text {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--button {
      width: 100%;
    }

    &--menu {
      min-width: 100%;
    }
  }

  div > &__input--text {
    border-radius: 8px;
    font-weight: 500;
  }

  div > &__input--checkbox {
    padding-top: 9px;
  }

  &__text {
    color: $gray-900;
    font-weight: 500;
    padding-top: 9px;
  }
}
