.strings-list {
  padding: 20px 16px 0;
  border-radius: 0.25rem;
  background-color: $bg-leftbar;

  a > &__button {
    margin-bottom: 30px;
  }

  &__elements {
    margin-bottom: 24px;
    font-weight: 500;
    color: $gray-900;
  }

  table > &__heading {
    border-bottom: solid 1px $table-border-color;
  }

  &__body {
    padding-top: 27px;
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;

    &--item {
      color: $gray-700;
      font-weight: 500;
    }
  }
}

.table td,
.table th {
  text-align: center;
}
